html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

body{
    padding:0px;
    margin: 0px;
    font-family: 'Alef', sans-serif;
    /* background: linear-gradient(to right, #fdc830, #f37335); */
    /* background: linear-gradient(to right, #CB356B, #BD3F32); */
    background-color: #295129;
    /* background-image: url("/assets/home_pics/dylan-nolte-SH_IjrKwG8c-unsplash.jpg");
    background-repeat: repeat;
    background-size: cover; */
}

.horizontal_line{
    border: none; 
    border-bottom: 1px solid rgba(255,255,255, 0.5)
    ;  
}

.navbar .navbar-collapse {
    text-align: center;
}


#our_story{
    /* background-color: #787878; */
    /* opacity: 0; */
    display: none;
    /* background-image: url("/assets/nuniBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    
}
.lead{
    font-weight: 700;;
}
@media (min-width: 692px) {
    #oriTry {
        margin-right: 6vh;
    }
  }


#partners{
    border-radius: 0px 20px 20px 0px;
    margin-left: 0;
}
#partner_pic{
    justify-self: flex-start;
}


#main_navbar{
    min-height: 40px;
    background-color: transparent;
    /* box-shadow: 0 0 5px rgba(246, 81, 61, 0.5); */
    /* box-shadow:  3px 3px 5px 6px #ccc;; */
}


.navbar-toggler-icon{
    background-image: url("/assets/hamburger.svg") !important;
}

#opening_hours{
    color: #F6513D;
}

/* #my_footer > .row{
flex-direction: row-reverse;
} */
#social_icon{
    margin-left: 20px;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Lato;
    
}
#social_link{
    color:inherit;
}
#my_footer{
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    /* background-color: #06457b; */
    /* background-image:url("/assets/footer_images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
    background-size: 100% 100%; */

    /* background-image:url("/assets/footer_images/jose-larrazolo-S8bde3hkBR8-unsplash.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px); */

    background-image:url("/assets/footer_images/rodion-kutsaev-IJ25m7fXqtk-unsplash.jpg");
}

/* #opening_hours > h3{
    color:white;
} */

#my_burger{
    border: none;
    
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.my_nav{
    font-size: 1.5rem;
    color: white !important;
}
.my_nav:hover{
    color: #ff3333 !important;
}
/* 
#jumbo{
    background-image: url("/assets/jumboLogo.png");
    height: 300px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

} */

.jumbotron{
    background-color: transparent;
    background-image: url("../assets/new_image2.png");
    border-radius: 20px 20px 20px 20px;
    /* IS THE BORDER-RADIUS NICE? */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    
}


hr{
    color: rgba(246, 81, 61, 0.5);	
}

.slick-slide {
    margin: 0 10px;
  }

.owl-prev{
    left: -30px;
}

.owl-next{
    right: -30px;
}

.owl-prev, .owl-next{
    position: absolute;
    top: 30%;
}
.owl-prev span, .owl-next span{
    font-size: 60px;
    color: #787878;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
}

#carousel div{
    width: 100%;
}
.slick img{
    width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    #my_footer > #second_row{
        flex-direction: column;
        /* Changed .row to #second_row */
    }

  }

  @media (max-width: 800px) {
    #hours_row > h3{
        font-size: 10px;
    }

  }

#after_hours{
    border-color: rgba(255,255,255, 0.5);
}