html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    
}

body{
    /* padding:0px; */

    padding: 120px 0px 0px 0px;
    margin: 0px;
    font-family: 'Alef', sans-serif;
    /* background: linear-gradient(to right, #fdc830, #f37335); */
    /* background: linear-gradient(to right, #CB356B, #BD3F32); */

    background-color: #295129;
    /* background-image:url("/assets/footer_backgrounds/rodion-kutsaev-IJ25m7fXqtk-unsplash.jpg"); */

    /* background-image: url("/assets/home_pics/dylan-nolte-SH_IjrKwG8c-unsplash.jpg");
    background-repeat: repeat;
    background-size: cover; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-image{
    /* max-width: 80%; */
    height: auto;
    
  }
.horizontal_line{
    border: none; 
    border-bottom: 1px solid rgba(255,255,255, 0.5);

}

.navbar .navbar-collapse {
    text-align: center;
}


#our_story{
    display: none;
    /* opacity: 0; */
    padding-top: 80px;
    margin-top: -80px;
    
}
.lead{
    font-weight: 700;;
}
@media (min-width: 692px) {
    #story_paragraph {
        margin-right: 6vh;
    }
  }


#partners{
    border-radius: 0px 20px 20px 0px;
    margin-left: 0;
    /* border-radius: 20px; */

}
#partner_pic{
    /* justify-self: flex-start; */
    padding-left: 0;
    padding-right: 0;

}


#main_navbar{
    min-height: 40px;
    /* Change to vh?? */
    transition: background-color 300ms linear;
    box-shadow: none;
    /* background-color: transparent; */
    /* box-shadow: 0 0 5px rgba(246, 81, 61, 0.5); */
    /* box-shadow:  3px 3px 5px 6px #ccc;; */
}

#carousel{
    margin-top: 15vh;
}
.colored{
    background-color: #f0f0f0 !important;
}
.navbar-toggler-icon{
    background-image: url("/assets/hamburger.svg") !important;
}

#opening_hours{
    color: #F6513D;
}

/* #my_footer > .row{
flex-direction: row-reverse;
} */
#social_icon{
    margin-left: 20px;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Lato;
    
}
#social_link{
    color:inherit;
}
#fb_link{
    color:inherit;

}
#my_footer{
    margin-left: 0;
    padding-left: 0;
    width:100%;
    
    /* Commented recently */
    /* width: 100%; */

    /* background-color: #06457b; */
    /* background-image:url("/assets/footer_images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
    background-size: 100% 100%; */

    /* background-image:url("/assets/footer_images/jose-larrazolo-S8bde3hkBR8-unsplash.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px); */

    background-image:url("/assets/footer_backgrounds/rodion-kutsaev-IJ25m7fXqtk-unsplash.jpg");

    /* background-color: #1d1c1c; */

    /* background-color: #295129; */

}

/* #my_footer > *{
    width:100%;
} */

/* #opening_hours > h3{
    color:white;
} */

#my_burger{
    border: none;
    
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.my_nav{
    font-size: 1.5rem;
    color: white !important;
}
.my_nav:hover{
    color:  rgb(252, 177, 3) !important;
}
/* 
#jumbo{
    background-image: url("/assets/jumboLogo.png");
    height: 300px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

} */

.jumbotron{
    background-color: transparent;
    background-image: url("../assets/new_image2.png");
    border-radius: 20px 20px 20px 20px;
    /* IS THE BORDER-RADIUS NICE? */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    /* Commented recently */
    /* width: 100%; */
    
}


hr{
    color: rgba(246, 81, 61, 0.5);	
}

#carousel div{
    
    width: 100%;
}
.slick-slide {
    margin: 0 10px;
  }
.slick img{
    width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    #my_footer > #second_row{
        flex-direction: column;
        /* Changed .row to #second_row */
    }

  }

  @media (max-width: 800px) {
    #hours_row > h3{
        font-size: 10px;
    }

  }

#after_hours{
    border-color: rgba(255,255,255, 0.5);
}

#story_paragraph h1, p{
    color: rgb(252, 177, 3);
}

.hide_story{
    display: none;
}

.show_story{
    display: block;
}

#more_story p{
    color: rgb(252, 177, 3);
}

/* #read_more{
    color: rgb(252, 177, 3)
} */


.nav_menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: none;

}

button:focus {
  outline: 0 !important;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

#hours_row{
    width: 100%;
}

#second_row{
    width: 100%;
}

#steam{
    /* color:yellow; */
    animation: steam_animation 2s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes steam_animation{
    0%{
        transform: translateY(10px);
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        transform: translateY(-10px);
        opacity:0;
    }
}

/* 
.navbar-collapse{
    background-color: yellow;
    height:100vh;
} */

.scrolled {
    background-color: #f0f0f0 !important;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) !important;
    /* transition: background-color 200ms linear; */
    
  }
  .scrolled > .collapse > .nav .my_nav, .colored > .collapse > .nav .my_nav{
    /* color: #DE444A !important; */
    color: rgb(252, 177, 3) !important;
    font-weight: 600;
}
.scrolled > .collapse > .nav .my_nav:hover, .colored > .collapse > .nav .my_nav:hover{
    color: rgba(252, 177, 3, 0.5) !important;
}

@media(max-width: 992px){
    #navbarCollapse{
        margin-bottom: 10vh;
        min-height: 100vh;
        
    }
}

#carousel-container{
    padding-left: 30px;
    padding-right: 30px;
}

  .slick-active .img-hover-zoom img{
    animation: opacity_animation 2s ease;

  }

  @keyframes opacity_animation{
    from{

        opacity:0;
    }
    to{
        opacity:1;
    }
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-slide > div { height: 100%; }

#up_arrow{
    align-self: flex-end;
}

#up_arrow p{
    color: blue;
}

#up_arrow::before{
    border-top: 4px solid black;
}

.to-top{
	color: #2e3745;
	padding-top:1.1em;
	display:inline-block;/* or block */
	position:relative;
	border-color:#2e3745;
	text-decoration: none !important;
    transition:all .3s ease-out;
    font-size: 150%;
    justify-self: start;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em #2e3745;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.1em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:#f0f0f0;
    border-color:#f0f0f0;
    font-weight: 700;
}
.to-top:hover:before{
	transform: rotate(360deg);
}

/* @media (max-width: 692px) {
    #up_arrow {
        background-color: #f0f0f0;
    }
  } */


#hours_row, #second_row{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.social-link {
    width: 60px;
    height: 60px;
    border: 1px solid #FED501;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(40, 40, 40);
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 2.5rem;
}

.social-link:hover, .social-link:focus {
    background: #FED501;
    text-decoration: none;
    color: #555;
}

#fb_link, #social_link{
    text-decoration: none;
}


#social-footer{
    /* position: absolute;
    bottom: auto; */
    width: 100%;
    text-align: center;
    background: #1b1b1b;
    color: #fff;
    font-size: 120%;
    direction: ltr;
    
    bottom: 0px;
    z-index: 15;
    padding:0;
    margin:0;
    min-height: 80px;
    display: flex;
    place-items: center;
 
}

/* #second-half{
    background-image: url("/assets/footer_backgrounds/rodion-kutsaev-IJ25m7fXqtk-unsplash.jpg");
}
#space_text{
    visibility: hidden;
} */
#social-footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0;

  }
  
  #social-footer ul li {
    list-style: none;
  }
  
  #social-footer ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin: 0 15px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  #social-footer ul li a .icon {
    position: relative;
    color: #1b1b1b;
    transition: .5s;
    z-index: 3;
  }
  
  #social-footer ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }

  #social-footer ul li a:hover #waze {
    color: black;
    transform: rotateY(360deg);
  }
  
  #social-footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
  }
  
  #social-footer ul li a:hover:before {
    top: 0;
  }
  
  #social-footer ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  #social-footer ul li:nth-child(2) a:before{
    background: linear-gradient(#a8e063, #56ab2f)
  }
  
  #social-footer ul li:nth-child(3) a:before {
    background: #55acee;
  }
  
  #social-footer ul li:nth-child(4) a:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

  @media (max-width: 767px) {
    #social-footer ul {
        padding-left:0px;
    }
  }

/* #contact1{
    padding-left: 0!important;
    margin-left: 0!important;
}

#contact2{
    padding-right: 0 !important;
    margin-right: 0!important;
} */