

#nav-icons ul {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  margin-bottom: 0;

}

#nav-icons ul li {
  list-style: none;
}

#nav-icons ul li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  margin: 0 15px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

#nav-icons ul li a .icon {
  position: relative;
  color: #1b1b1b;
  transition: 0.5s;
  z-index: 3;
}

#nav-icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

#nav-icons ul li a:hover .black-icon {
  color: black;
  transform: rotateY(360deg);
}

#nav-icons ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

#nav-icons ul li a:hover:before {
  top: 0;
}

#nav-icons ul li:nth-child(1) a:before{
  background: #3b5999;
}

#nav-icons ul li:nth-child(2) a:before{
  background: linear-gradient(#a8e063, #56ab2f)
}

#nav-icons ul li:nth-child(3) a:before {
  background: #55acee;
}

#nav-icons ul li:nth-child(4) a:before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
#nav-icons ul li:nth-child(5) a:before {
  background: #00AA6C;
}



/* #last-text{
  margin-top: 10px;
} */

#swipeIcon{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 5%);
}

#swipeIcon svg {
display: inline-block;
width: 250px;
margin: 3% auto;
padding: 0px 100px;
}

/* SVG RULES */


.hand-x {
  fill: #fff;
  stroke: #000;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}


.arrow-left, 
.arrow-right, 
.line-horizontal
{
  fill: transparent;
  stroke: #000;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.swipe-horizontal
{
  opacity: .75;
}


@media(min-width: 1200px){
  .slick-next::before, .slick-prev::before{
    font-size: 40px !important;
  }
  .slick-prev {
    right: -50px !important;
  }
  .slick-next {
    left: -30px !important;
  }

}

#carousel{
  margin-top: 10vh;
  padding-bottom: 10vh;
}

#carousel div{
  
  width: 100%;
}
.slick-slide {
  margin: 0 10px;
}
.slick img{
  width: 100%;
  border-radius: 10px;
}


.slick-track
{
  display: flex !important;
}


#second{
  position: relative;
  margin-top: 10vh;

}

#social_icon{
  margin-left: 20px;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Lato;
  
}

.fb_link{
  color:inherit;

}

#footer{
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  padding-top: 2vh;  
  background-color: #FFCA26;

}

@media (max-width: 767px) {
  #footer{
    padding-top: 8vh;
  }
}

.horizontal_line{
  border: none; 
  border-bottom: 1px solid rgba(255,255,255, 0.5);

}

hr{
  color: rgba(246, 81, 61, 0.5);	
}



@media (max-width: 800px) {
  #footer > #second_row{
      flex-direction: column;
  }
}

@media (max-width: 800px) {
  #hours_row > h3{
      font-size: 10px;
  }
}

#after_hours{
  border-color: rgba(255,255,255, 0.5);
}

#hours_row{
  width: 100%;
}

#second_row{
  width: 100%;
}

#hours_row, #second_row{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#social-footer{

  width: 100%;
  text-align: center;
  background: #212529;
  color: #fff;
  font-size: 120%;
  direction: ltr;
  bottom: 0px;
  z-index: 15;
  padding:0;
  margin:0;
  min-height: 80px;
  display: flex;
  place-items: center;

}

@media (max-width: 991px) {
  #social-footer {
      min-height: 130px;
      align-items: flex-start;
      padding-top: 1vh;
  }
}

#social-footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

}

#social-footer ul li {
  list-style: none;
}

#social-footer ul li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  margin: 0 15px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

#social-footer ul li a .icon {
  position: relative;
  color: #1b1b1b;
  transition: 0.5s;
  z-index: 3;
}

#social-footer ul li a:hover .icon,
#social-footer ul li a:focus .icon {
  color: #fff;
  transform: rotateY(360deg);
}

#social-footer ul li a:hover .black-icon,
#social-footer ul li a:focus .black-icon {
  color: black;
  transform: rotateY(360deg);
}

#social-footer ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

#social-footer ul li a:hover:before,
#social-footer ul li a:focus:before {
  top: 0;
}

#social-footer ul li:nth-child(1) a:before{
  background: #3b5999;
}

#social-footer ul li:nth-child(2) a:before, #social-footer ul li:nth-child(3) a:before{
  background: linear-gradient(#a8e063, #56ab2f)
}

#social-footer ul li:nth-child(4) a:before {
  background: #55acee;
}

#social-footer ul li:nth-child(5) a:before, #social-footer ul li:nth-child(6) a:before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
#social-footer ul li:nth-child(7) a:before {
  background: #00AA6C;
}

@media (max-width: 767px) {
  #social-footer ul {
    padding-left:0;
    padding-right:0;
  }
}


#info-footer{
  margin-top: -50px;      
  padding-bottom: 50px; 
  display: block; 
}

.footer-title{
  color: #ED1F28;
}

#visit-us{
  text-decoration: underline;
  
}

#visit-us:focus,
#visit-us:hover{
  opacity: 0.7;
}


@media(min-width: 1400px) {
  .col-md-6-5 {
    flex: 0 0 54.16667% !important;
    max-width: 54.16667% !important;
   } 
}


#close-button{
  margin-right: 0.25rem !important;
  margin-left: auto !important;
}

#close-icon{
  margin-left: 0.25rem !important;
  margin-right: auto !important;
}