html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  
  
}

body{
  padding:0px;
  margin: 0px;
  font-family: 'Alef', sans-serif;
  /* background: linear-gradient(to right, #fdc830, #f37335); */
  /* background: linear-gradient(to right, #CB356B, #BD3F32); */
  background-color: #295129;
  /* background-image: url("/assets/home_pics/dylan-nolte-SH_IjrKwG8c-unsplash.jpg");
  background-repeat: repeat;
  background-size: cover; */
}

#my_footer{
  margin-left: 0;
  padding-left: 0;
  width:100%;
  /* Commented recently */
  /* width: 100%; */

  /* background-color: #06457b; */
  /* background-image:url("/assets/footer_images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
  background-size: 100% 100%; */

  /* background-image:url("/assets/footer_images/jose-larrazolo-S8bde3hkBR8-unsplash.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px); */

  background-image:url("/assets/footer_images/rodion-kutsaev-IJ25m7fXqtk-unsplash.jpg");
}

  @media (max-width: 800px) {
    #my_footer > #second_row{
        flex-direction: column;
        /* Changed .row to #second_row */
    }

  }