html{
    scroll-behavior: smooth;
    overflow-x: hidden;

}
  
body{
    overflow-x: hidden;
    margin: 0px;
    font-family: 'Alef', sans-serif;
    background-color: #f1ead2;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
#header{
    height: 100vh;

    background-color: #00AA6C;
    position: relative;
}
  
#second{
    position: relative;
    margin-top: 10vh;
    min-height: 100vh;
}


  
  
.scroll-down{
    color: #fff;
    font-size: 400%;
    position: absolute;
    bottom: 4%;
    z-index: 9;
    width: 100%;
    text-align: center;
    cursor: pointer;

    animation-iteration-count: 5!important;
    -webkit-animation: upAnddown 1s infinite!important;
    animation: upAnddown 1s infinite!important;
    -webkit-animation-timing-function: ease-in-out!important;
    animation-timing-function: ease-in-out!important;
}

@keyframes upAnddown{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}
  
.scroll-down svg, #home-gallery .scroll-down svg path {
    width: 60px;
    height: 32px;
    fill: #fff;
    display: block;
    margin: auto;
}